.Side-bar
  .Side-bar__user-name
    .Side-bar__user-name--icon
      .Side-bar__user-name--icon--left
        masa
      .Side-bar__user-name--icon--right
        .Side-bar__user-name--icon--right--list
        = icon('far', 'edit')
        .Side-bar__user-name--icon--right--list
        = icon('fas', 'cog')


  .Side-bar__group-list
    .Side-bar__group-list--group
      .Side-bar__group-list--group--name
        techcamp
      .Side-bar__group-list--group--message
        まだメッセージがありません