* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}


.Side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
  &__user-name{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &--icon{
      height: 20px;
      width: 260px;
      display: flex;
      font-weight: bold;
      color: #ffffff;
        &--left{
          width: 200px;
          font-size: 16px;
        }
        &--right{
          width: 60px;
          display: flex;
          justify-content: flex-end;
            &--list{
              margin-right: 5px;
            }
        }
    }
    a, a:visited{
      color: #ffffff; 
      text-decoration: none;
    }

  }
  &__group-list{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
    &--group{
      color: #ffffff;
      padding: 20px 0 40px;
        &--name{
          font-size: 15px;
        }
        &--message{
          font-size: 11px;
          margin-top: 5px;
        }
    }
  }
}




.Main{
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
  &__group-info{
    height: 100px;
    border-bottom: solid 1px#eeeeee;
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    &--group-name{
      padding: 35px 0 0 0;
        &--name{
          font-size: 20px;
          color: #333333;
        }
        &--member{
          font-size: 12px;
          color: #999999;
          padding: 15px 0 0 0;
        }
    }
    &--edit{
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      display: block;
      border: 1px solid #38AEF0;
      color: #38AEF0;
      text-decoration: none;
      margin-top: 28px;
    }
    a, a:visited{
      color: #38AEF0; 
      text-decoration: none;
    }
  }
  &__message-list{
    background-color: #fafafa;
    height: calc(100vh - 191px);
    padding: 0 0 0 40px;
    &--message{
      padding: 35px 0 11px 0;
      &--info{
        display: flex;
        &--user{
          font-size: 16px;
          color: #333333;
        }
        &--date{
          font-size: 12px;
          color: #999999;
        }
      }
      &--text{
        font-size: 14px;
        color: #434A54;
        padding: 12px 0 0 0;
      }
    }
    &--message-second{
      padding: 35px 0 11px 0;
      &--info{
        display: flex;
        &--user{
          font-size: 16px;
          color: #333333;
        }
        &--date{
          font-size: 12px;
          color: #999999;
        }
      }
      &--text{
        font-size: 14px;
        color: #434A54;
        padding: 12px 0 0 0;
      }
    }
  }
  &__message-form{
    background-color: #d2d2d2;
    height: 90px;
  }
}
.message-form{
  padding: 20px 50px 20px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__inputbox{
    background-color: #ffffff;
    width: 100%;
    position: relative;
  }
  &__input{
    height: 50px;
    width: 100%;
    padding: 0 45px 0 15px;
    border: none;
  }
  &__label{
    position: absolute;
    line-height: 50px;
    font-size: 25px;
    right: 10px;
  }
  &__submit{
    background-color: #38aef0;
    color: #ffffff;
    height: 50px;
    font-size: 16px;
    border: none;
    margin-left: 15px;
    padding: 0 30px;
  }
}
.None{
  display: none;
}